.card.shadow-sm
  .card-body
    .note-wrapper
      %span.icon.bg-info.text-light
        %i.fas.fa-paperclip
      .note-title
        %div Programador é Dev
        %span.text-muted
          created on 
          %span
            27/10/2021
    .note-content.text-muted
      %span 
        = truncate("Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, libero nihil accusamus nulla error excepturi. Minus iure quis vitae dolore, tempore dolorem, reiciendis quia obcaecati velit amet natus veniam rem?", length: 80)

  .card-footer
    %span Priority:
    %select.bg-danger
      %option baixa
      %option media
      %option alta