%main
  = render 'listnotes'

  %article.wrapper-content
    .show-content
      .header-show
        .header-show-title
          %h2.mb-0 Criar Nova Nota

      .body-show
        = render 'form'

    = render 'shared/footer'