%nav.navbar.navbar-expand-lg
  .container-fluid
    %span.navbar-brand.mb-0.h1 
      %i.fas.fa-pencil-ruler
      %span talentNotes
    %button.navbar-toggler{ 'type' => 'button', 'data-toggle' => 'modal', 'data-target' => '#exampleModal' }
      %span.navbar-toggler-icon