@import "toastify-js/src/toastify.css";

@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
  background-image: url('https://picsum.photos/800/600/?blur=3');
  background-size: cover;
  height: 100vh;
}

.devise_form {
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
  position: relative;

  h2{
    margin-bottom: 10px;
    text-align: center;
  }

  .label {
    font-size: .8rem;
    font-weight: 500;
  }

  .spacing {
    margin-top: 10px;
    text-align: center;
    font-size: .9rem;
  }
}